{% extends 'base.html' %}
{% block title %}个人中心{% endblock %}

{% block content %}
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            {#            <li class="active"><a href="/home_admin/">个人中心</a></li>#}
            <li><a href="/book_manage/">图书信息管理</a></li>
            <li><a href="/user_manage/">读者信息管理</a></li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row placeholders">
            <form class="form-search" action="/user_search/" method="get">
                <div class="form-group">
                    {{ search_form.keyword }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">查询</button>
            </form>
        </div>
        <button onclick="window.location.href = '/user_add/'" class="btn btn-primary btn-block">新增用户</button>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">学号</th>
                    <th scope="col">姓名</th>
                    <th scope="col">专业</th>
                    <th scope="col">研究方向</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.major }}</td>
                        <td>{{ user.research_direction }}</td>
                        <td><a class="btn btn-success btn-sm" href="/user_delete/?user_id={{ user.id }}">删除</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
    </div>
{% endblock %}